.navbar{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.857);
    margin: 4px 5%;
    border: 2px solid rgb(207, 184, 255);
    border-radius: 30px;
    height: 60px;
    padding: 2px;
}

.logout-btn{
    margin-left: auto;
    font-size: 20px;
    color: #5f6bed;
    margin-right: 20px ;
    font-family: 'Times New Roman', Times, serif;
}

.logo{
    width: 48px;
    margin: 4px;
}

.logo img{
    width: 100%;
    object-fit: fill;
}

.wordmark{
    color: #fff;
    font-size: 20px;
    font-family: monospace ;
}